# Python
__pycache__/
*.py[cod]
*.pyd
*.egg-info/
dist/
build/

# Virtualenv
venv/
.venv/
env/

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Env / secrets
.env
*.json
# Local runtime artifacts
app.log
log.txt
keyboards_cache.json5
pyvenv.cfg

# Local config (contains secrets)
config.json5
config2.json5
clients.json5
0config.json
creds_service_acc_google.json